
.container-centered-background
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightskyblue;
    box-shadow: 0px 0px 50px slateblue;
}

.container-centered-wide
{
    display: flex;
    flex-direction: column;
    min-width: 1500px;
    max-width: 1500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-narrow
{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    max-width: 2000px;
    margin: auto;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-login
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 600px slateblue;
}

* 
{
    font-family: sans-serif;
    box-sizing: border-box;
}

form 
{
    border-radius: 20px;
    padding: 20px 10px;
    background: white; 
}

input 
{
    display: block;
    width: 95%;
    border-radius: 12px;
    padding: 15px;
    margin: 20px auto;
    background-color: lightskyblue;
    border: none;
    color: white;
}

input:hover
{
    background-color: skyblue;
}

label
{
    font-size: 18px;
    padding: 10px;
}

button
{
    padding: 15px 15px 15px 15px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 10px;
    border: none;
    background: lightskyblue;
}

button:hover 
{
    background-color: skyblue;
}

.error
{
    background: #F2DEDE;
    color: #A94442;
    padding: 20px;
    width: 95%;
    border-radius: 6px;
    margin: 20px auto;
}

h1 
{
    font-size: 32px;
}

p
{
    font-size: 16px;
}

a 
{
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

a:hover 
{
    opacity: 0.8;
}

.header-outer-region
{
    padding: 10px;
    width: 100%;
}

.image-fill
{
    width: 100%;
}

.horizontal-split
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horizontal-split-item-right
{
    padding-right: 10%;
}

.main-body
{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.split-half
{
    display:flex;
    align-items: center;
}

.split-half-left
{
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.split-half-right
{
    width: 100%;
    height: 33vh;
    box-shadow: 0px 0px 5px lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-box
{
    box-shadow: 0px 0px 5px lightblue;
    margin: auto;
    padding: 30px;
    width: 90%;
    height: 75%;
    text-align: center;
}

.confirmation-box-text
{
    font-size: 2.25vh;
}

.confirmation-box-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.confirmation-button-yes
{
    border-radius: 50px;
    background-color: greenyellow;
    color: white;
    margin-right: 25%;
    font-size: 20px;
    padding: 20px 40px;
}

.confirmation-button-no
{
    border-radius: 50px;
    background-color: red;
    color: white;
    font-weight: bolder;
    margin-left: 25%;
    font-size: 20px;
    padding: 20px 40px;
}

table 
{
    min-width: 100%;
}

table.tableSection thead, table.tableSection tbody /*Concept of using .tablesection, thead etc. from https://stackoverflow.com/questions/9844022/css-merging-div-and-table-borders*/
{
    float: left;
    width: 100%;
}
table.tableSection tbody 
{
    overflow:auto;
    height: 33vh;
}

table.tableSection th, table.tableSection td 
{
    width: 100%;
}

tr
{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px lightblue;
    border-radius: 8px;
}

tr.clicked
{
    background-color: blue;
    color: white;
    width: 100%;
    height: 100%;
}

td
{
    padding: 10px;
}

.button-fillcell-clicked
{
    background-color: blue;
    color: white;
    width: 100%;
    height: 100%;
}

.button-fillcell:hover
{
    background-color: lightskyblue;
    color: black;
    width: 100%;
    height: 100%;
}

.button-lock
{
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.button-lock:hover
{
    color: white;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

.button-lock:focus
{
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
    text-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button-lock:disabled
{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.button-delete
{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.button-delete:hover
{
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.button-delete:focus
{
    text-shadow: 225, 83, 97;
}

.button-delete:active
{
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
    text-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button-delete:disabled
{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}