
.container-centered-background
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightskyblue;
    box-shadow: 0px 0px 50px slateblue;
}

.container-centered-wide
{
    display: flex;
    flex-direction: column;
    min-width: 1500px;
    max-width: 1500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-narrow
{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    max-width: 2000px;
    margin: auto;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-login
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 600px slateblue;
}

* 
{
    font-family: sans-serif;
    box-sizing: border-box;
}

form 
{
    border-radius: 20px;
    padding: 20px 10px;
    background: white; 
}

input 
{
    display: block;
    width: 95%;
    border-radius: 12px;
    padding: 15px;
    margin: 20px auto;
    background-color: lightskyblue;
    border: none;
    color: white;
}

input:hover
{
    background-color: skyblue;
}

label
{
    font-size: 18px;
    padding: 10px;
}

button
{
    padding: 15px 15px 15px 15px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 10px;
    border: none;
    background: lightskyblue;
}

button:hover 
{
    background-color: skyblue;
}

.error
{
    background: #F2DEDE;
    color: #A94442;
    padding: 20px;
    width: 95%;
    border-radius: 6px;
    margin: 20px auto;
}

h1 
{
    font-size: 32px;
}

p
{
    font-size: 16px;
}

a 
{
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

a:hover 
{
    opacity: 0.8;
}

.header-outer-region
{
    padding: 10px;
    width: 100%;
}

.image-fill
{
    width: 100%;
}

.horizontal-split
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horizontal-split-item-right
{
    padding-right: 10%;
}

.main-body
{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}