
.container-centered-background
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightskyblue;
    box-shadow: 0px 0px 50px slateblue;
}

.container-centered-wide
{
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-narrow
{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-login
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 600px slateblue;
}

.container-centered-small
{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 600px slateblue;
}

* 
{
    font-family: sans-serif;
    box-sizing: border-box;
}

form 
{
    border-radius: 20px;
    padding: 10px 10px;
    background: white; 
}

.createinput
{
    display: block;
    width: 95%;
    border-radius: 12px;
    padding: 15px;
    margin: 20px auto;
    background-color: lightskyblue;
    border: none;
    color: white;
}

.transactioninput
{
    display: block;
    padding: 15px;
    box-shadow: 0px 0px 5px lightblue;
    border-radius: 8px;
    border: none;
}

.assigninput
{
    width: 20vw;
}

label
{
    font-size: 18px;
    padding: 15px;
}

button
{
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    background-color: #0051FF;
    border: none;
    text-decoration: none;
}

button:hover, input:hover
{
    opacity: 0.8;
}

.button-unlock
{
    color: white;
    background-color: #FF9200;
    border-color: mediumslateblue;
    margin: auto;

}

.button-lock
{
    color: white;
    background-color: #00A1FF;
    border-color: mediumslateblue;
    margin: auto;
}

.button-delete
{
    color: #fff;
    background-color: #FF0C00;
    border-color: #FF0C00;
    margin: auto;
}

.button-return
{
    border-radius: 5px;
    margin: 0px;
    color: white;
    background-color:#FF9200;
    text-decoration: none;
    width: 100%;
}

.button-lock:focus, .button-delete:focus
{
    text-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.error
{
    background: #F2DEDE;
    color: #A94442;
    padding: 20px;
    width: 95%;
    border-radius: 6px;
    margin: 20px auto;
}

h1 
{
    font-size: 32px;
}

h2
{
    text-align: center;
    text-wrap:nowrap;
    font-size: 100%;
    padding-right: 20px;
}

p
{
    font-size: 16px;
}

.header-outer-region
{
    padding: 10px;
    width: 100%;
}

.image-fill
{
    width: 100%;
}

.horizontal-split
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horizontal-split-item-right
{
    padding-right: 10%;
}

.main-body
{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.split-half
{
    display:flex;
    align-items: center;
}

.split-half-left
{
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.split-half-right
{
    width: 100%;
    height: 33vh;
    box-shadow: 0px 0px 5px lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-list-container
{
    text-align: center;
    width: 100%;
    height: 100%;
}

.select-user-text
{
    width: 90%;
    margin: auto;
    font-size: 2.25vh;
}

table 
{
    min-width: 100%;
}

tbody.staff-list
{
    display: flex;
    flex-direction: column;
    padding: 2px
}


table.tableSection thead, table.tableSection tbody /*Concept of using .tablesection, thead etc. from https://stackoverflow.com/questions/9844022/css-merging-div-and-table-borders*/
{
    float: left;
    width: 100%;
}
table.tableSection 
{
    overflow:auto;
    height: 33vh;
}

tr.unclicked
{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px lightblue;
    border-radius: 8px;
}

tr.clicked
{
    background-color: blue;
    color: white;
}

td
{
    padding: 10px;
}

.td-name-section
{
    width: 240px;
}

.td-transaction, .th-transaction
{
    width: 300px;
}

th
{
    color: black;
    border-radius: 8px;
    text-align: left;
    padding: 10px;
    border: none;
}